.question-view {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list ul {
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.categories-list > form {
  width: 60%;
}

.categories-list li {
  display: block;
  line-height: 1.5;
  text-align: left;
  padding: 10px 15px 10px 15px;
}

.categories-list li > img {
  vertical-align: middle;
  margin-right: 15px;
}

.categories-list li.highlight {
  background-color: #effd2c;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 2px rgb(167, 167, 167) solid;
  border-radius: 4px;
  text-align: left;
  margin: 7px;
  box-shadow: 1px 1px 1px 1px rgba(10,10,10, 0.1);
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.Question {
  font-size: 1.3em;
  padding-bottom: 15px;
  width: 100%;
}

.answer-holder {
  padding: 15px 0px;
  font-size: 1.3em;
  color: orange;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
}